.about-me{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.about-me-title{
    font-size: 30px;
    font-weight: bold;
}

.abount-me-header1{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.about-me-photo{
    height: 300px;
}