.newsletter-content{
    text-align: center;

}
.newsletter-title{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.newsletter-email{

}

.newsletter-email-label{
    width: 25%;
}

.newsletter-email-input{
    width: 75%;
    height: 45px;
    box-shadow: 2px 2px #CBCBCB;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-indent: 10px;

}


.newsletter-content{
    position: relative;
}


