.tilelist {
    width: 90vw;
    max-width: 1170px;
    margin: 2rem auto;
    display: grid;
    gap: 2rem;
}

.tilelist {
    grid-template-columns: repeat(6, 1fr);
}

.o-mnie{
    grid-column: 1/7;
}

.blog{
    grid-column: 1/7;
}
.spolecznosc{
    grid-column: 1/7;
}

.podcasty{
    grid-column: 1/7;
}

.kursy{
    grid-column: 1/7;
}
.newsletter{
    grid-column: 1/7;
    margin-bottom: 200px;
}

.tile {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
}
.tile h1 {
    margin-top: 0.5rem;
}
.tile h4 {
    color: #617d98;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}
.tile p {
    margin-top: 0.5rem;
}

